div {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}

button[type=submit] {
    margin-right: 10px;
    background-color: lightgray;
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type=reset] {
    background-color: lightgray;
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text] {
    background-color: lightgray;
    border-radius: 4px;
    margin: 20px;
}

input[type=password] {
    background-color: lightgray;
    border-radius: 4px;
    margin: 20px;
}

.container {
    border-radius: 5px;
    width: 100%;
    resize: both;
    background-color: #f2f2f2;
}