body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
    margin-right: 40px;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

li:hover {
    background-color: white;
}

li:active {
    background-color: aquamarine;
}

#logo {
    width: 40px;
    height: 40px;
}